*{
padding: 0;
margin: 0%;
box-sizing: border-box;
--black: #333;
--cream: #ffeccc;
--red: red;
}

body{
    
    top: 0;
    bottom: 0%;
    margin: 0;
    padding: 0;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('./Japan-night.jpeg') no-repeat;
    height: 100vh;
    resize: both;
    background-size: cover;
}

#navbar{
    display: flex;
    justify-content: space-between;
    background: var(--black)
}

#buttonlist{
    display: flex;
    padding: 1.5rem;
}

#maidbtn{
    color: violet;
    background-color:gray;
    margin: 0 .5rem;
    padding: .5rem;
    transition: 0.5s padding ease;
    font-family: 'Fredoka One', cursive;
}

#randombtn{
    color: violet;
    background-color:gray;
    margin: 0 .5rem;
    padding: .5rem;
    transition: 0.5s padding ease;
    font-family: 'Fredoka One', cursive;
}

#uniformbtn{
    color: violet;
    background-color:gray;
    margin: 0 .5rem;
    padding: .5rem;
    transition: 0.5s padding ease;
    font-family: 'Fredoka One', cursive;
}

#maidbtn:hover{
    cursor: pointer;
    padding: .3rem .9rem;
}

#randombtn:hover{
    cursor: pointer;
    padding: .3rem .9rem;
}

#uniformbtn:hover{
    cursor: pointer;
    padding: .3rem .9rem;
}

#logo{
    display: flex;
    margin: 1rem;
    font-size: 2.5rem;
    color: var(--cream);
    border-bottom: 2px solid rgba(237, 235, 168, 0.646);
}


.waifuImage{
    width: 50rem;
    height: 50rem;

    margin-bottom: 15rem;
    padding: 3px;
    border: 5px solid pink;
}
#waifuImage{

    
    width: 100%;

}

#waifuPhoto{ /*this is the description text, not the photo*/
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 2rem;
    font-family: 'Philosopher', sans-serif;
    color: var(--cream);
}

/* #text{
    color: rgb(208, 102, 102);
    padding-bottom: .5rem;
    padding-top: .5rem;
} */


#highlight{
    color: rgb(235, 125, 219);
    font-style: italic;
    font-family: 'Philosopher', sans-serif;
}

