*{
padding: 0;
margin: 0%;
}

body{
    background-image: radial-gradient(#420d6d 20%, transparent 20%),
    radial-gradient(#fafafa 20%, transparent 20%);
    background-color: rgba(160, 135, 242, 0.698);
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
    height: 200px;
    width: 100%;
}

#logo{
    
    font-size: 5rem;
    text-align: center;
    border-top: 15px solid red;
    border-bottom: 15px solid red;
    padding-bottom: .5rem;
    padding-top: .5rem;
}

img {
    width:auto;
    height:auto;
}

.waifuImage{
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-height: 720px;
    max-height: 720px;
    padding: 3px;
    border: 3px solid pink;    
}

#waifuPhoto{
    text-align: center;

}

#text{

    color: rgb(255, 255, 255);
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

#randombtn{

    background: cornflowerblue;
}

#uniformbtn{

    background: cornflowerblue;
}

#maidbtn{

    background: cornflowerblue;
}

#buttons{
padding-top: 2.5rem;
padding-bottom: 2.5rem;
}